<section
  class="hero bg-center text-black py-24 px-6 h-screen"
  style="background-image: url('/assets/logo_backg.png');"
>
  <div class="container mx-auto text-center">
    <h1
      class="text-4xl md:text-5xl font-extrabold mb-6 leading-tight text-orange-500 transform hover:scale-105 transition duration-500"
    >
      Bienvenue sur SmartRoute
    </h1>
    <p class="text-lg md:text-xl mb-8 mx-auto max-w-3xl animate-fadeIn">
      Planifiez vos trajets rapidement et efficacement avec SmartRoute. Obtenez des suggestions de trajets précises en temps réel, optimisées pour le temps, la distance et le trafic. Commencez à planifier votre voyage dès maintenant !
    </p>
    <a
      routerLink="/map"
      class="bg-orange-500 text-white py-3 px-8 rounded-full text-xl font-semibold hover:bg-orange-700 hover:translate-y-1 transition-all duration-300"
    >
      Commencer
    </a>
  </div>
</section>
