.hero {
  background-size: 83.5% auto;
  background-repeat: no-repeat;
  margin-top: 100px; /* Correspond à la hauteur maximale du navbar */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 0.5s;
}
