<div class="flex items-center justify-center h-2/4 mt-24"
     style="background-image: url('/assets/map_marrakech.png'); background-size: cover; background-position: center; height: 400px;">
  <div id="buttongholder" class="h-15 w-2/12 rounded-lg hover:bg-orange-500 bg-transparent flex items-center justify-center">
    <button (click)="gotomap()" class="text-orange-500 text-xl hover:text-secondary font-bold hover:scale-105">Accédez à la carte</button>
  </div>
</div>

<div id="explanations" class="bg-white flex flex-col justify-center items-center p-5 gap-10 w-full">
  <div class="flex justify-center items-center p-5 w-full">
    <div class="mt-5 hover:scale-105 rounded-lg"
         style="background-image: url('/assets/side-image1.png'); background-size: cover; background-position: center; width: 400px; height: 270px;">
    </div>
    <div class="ml-20 max-w-2xl text-center">
      <div class="text-orange-500 font-bold text-2xl mb-2">Itinéraires</div>
      <h3 class="text-black text-lg">
        Le service d'itinéraires SmartRoute couvre le monde entier et vous permet de calculer des trajets et diverses informations de navigation.
        Nous proposons un large éventail d'options de déplacement pour plusieurs modes de transport : voiture, vélos, marche, randonnée, fauteuil
        roulant et véhicules lourds. Chaque mode utilise un réseau routier soigneusement élaboré pour répondre aux exigences du profil.
      </h3>
    </div>
  </div>

  <hr class="w-3/4 my-5">

  <div class="flex flex-wrap justify-center items-center gap-5 w-full">
    <div *ngFor="let feature of features" class="flex flex-col items-center text-center max-w-md">
      <div class="mt-1 hover:scale-105 rounded-lg w-[70px] h-[70px] bg-cover bg-center"
           [style.backgroundImage]="'url(' + feature.icon + ')'" >
      </div>
      <div class="text-orange-500 font-semibold text-xl mb-2 min-h-[50px] flex items-center justify-center">
        {{ feature.title }}
      </div>
      <h3 class="text-black text-lg min-h-[100px] flex items-center">
        {{ feature.longDescription }}
      </h3>
    </div>
  </div>

  <hr class="w-3/4 my-5">

  <div class="flex justify-center items-center p-5 w-full">
    <div class="mt-5 hover:scale-105 rounded-lg"
         style="background-image: url('/assets/side-image6.png'); background-size: cover; background-position: center; width: 400px; height: 270px;">
    </div>
    <div class="ml-20 max-w-2xl text-center">
      <div class="text-orange-500 font-bold text-2xl mb-2">Optimisation</div>
      <h3 class="text-black text-lg">
        L'API d'optimisation SmartRoute est une solution efficace pour résoudre les problèmes de routage de véhicules,
        qu'il s'agisse de gestion de flottes ou de livraisons. Elle permet de planifier des itinéraires optimisés en tenant compte de contraintes
        comme les types de véhicules, les capacités de chargement et les délais de livraison. Rapide et flexible, elle aide à réduire les coûts et
        à améliorer l’efficacité des trajets, tout en simplifiant la gestion des déplacements.
      </h3>
    </div>
  </div>
</div>
