<section class="hero bg-cover bg-center text-white py-24 px-6" style="background-image: url('/assets/sr_logo_tp_bckg.png');">
  <div class="container mx-auto text-center relative z-10">
    <h1 class="text-4xl md:text-5xl font-extrabold mb-6 leading-tight text-orange-600">
      Bienvenue sur SmartRoute
    </h1>
    <p class="text-lg md:text-xl mb-8 mx-auto max-w-3xl">
      Planifiez vos trajets rapidement et efficacement avec SmartRoute. Obtenez des suggestions de trajets précises en temps réel, optimisées pour le temps, la distance et le trafic. Commencez à planifier votre voyage dès maintenant !
    </p>
    <a href="/route-planner" class="bg-white text-orange-600 py-3 px-8 rounded-full text-xl font-semibold hover:bg-gray-200 transition duration-300">
      Commencer
    </a>
  </div>
</section>
