<!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY&callback=initMap" async defer></script>-->
<!--<div id="map" style="height: 500px; width: 100%;"></div>-->





<div class="map-container" class="h-[500px] w-screen p-5 mt-10">
  <input class="w-2/12 h-14 mt-12 rounded-lg p-2 border-white" type="text" #searchInput placeholder="Search for a place">
  <button (click)="searchLocation(searchInput.value)" class="text-white font-semibold bg-gray-700 w-20 h-14 rounded-lg hover:bg-gray-500 mt-5 ml-3">Search</button>
  <div id="map" class="h-[400px] "></div>
</div>

