<div class="navbar bg-orange-50 shadow-md px-3">
  <!-- Start: Logo -->
  <div class="navbar-start">
    <a href="/" class="block">
      <img ngSrc="/assets/logo_backg.png" alt="SmartRoute Logo" class="w-20 h-20 object-contain" height="500"
           width="500" />
    </a>
  </div>

  <!-- Center: Navigation Menu -->
  <div class="navbar-center">
    <ul class="menu menu-horizontal px-1 space-x-4">

      <!-- Accueil -->
      <li>
        <a href="/" class="text-gray-950 hover:text-primary">Accueil</a>
      </li>

      <!-- Services -->
      <li class="relative">
        <details class="group">
          <summary class="text-gray-950 hover:text-primary cursor-pointer">
            Services
          </summary>
          <ul class="z-30 bg-white shadow-lg rounded-md p-2 mt-2 group-open:block hidden absolute top-full left-0 w-full">
            <li><a href="/services" class="block text-gray-700 hover:bg-orange-200 px-4 py-2 rounded-md">Tous</a></li>
            <li><a href="/service1" class="block text-gray-700 hover:bg-orange-200 px-4 py-2 rounded-md">Service 1</a></li>
          </ul>
        </details>
      </li>


      <!-- Tarifs -->
      <li>
        <a href="/tarifs" class="text-gray-950 hover:text-primary">Tarifs</a>
      </li>

      <!-- Ressources -->
      <li class="relative">
        <details class="group">
          <summary class="text-gray-950 hover:text-primary cursor-pointer">
            Ressources
          </summary>
          <ul class="z-30 bg-white shadow-lg rounded-md p-2 mt-2 group-open:block hidden absolute top-full left-0 w-full">
            <li><a href="/docs" class="block text-gray-700 hover:bg-orange-200 px-4 py-2 rounded-md">Docs</a></li>
            <li><a href="/api" class="block text-gray-700 hover:bg-orange-200 px-4 py-2 rounded-md">API</a></li>
            <!-- encore encooore -->
          </ul>
        </details>
      </li>
    </ul>
  </div>




  <!-- End: login & sign-in Icons -->
  <div class="navbar-end flex items-center space-x-4">
    <button (click)="toggleTheme()" class="p-2 rounded-md bg-gray-200 dark:bg-gray-800">
      <fa-icon *ngIf="isDarkMode" [icon]="['fas', 'sun']" size="lg" class="text-yellow-400"></fa-icon>
      <fa-icon *ngIf="!isDarkMode" [icon]="['fas', 'moon']" size="lg" class="text-blue-400"></fa-icon>
    </button>
    <!-- Login -->
    <a routerLink="/login" class="cursor-pointer">
      <fa-icon [icon]="['fas', 'user-plus']" class="text-gray-700 hover:text-primary"></fa-icon>
    </a>

    <!-- Sign-in -->
    <a routerLink="/sign_in" class="cursor-pointer">
      <fa-icon [icon]="['fas', 'sign-in-alt']" class="text-gray-700 hover:text-primary"></fa-icon>
    </a>

    <div *ngIf="auth.isAuthenticated; else loggedOut">
      <p class="text-black">Welcome, {{ auth.user?.name }}</p>
      <button (click)="auth.logout()" class="mt-1 ml-3 mr-3 font-bold bg-black rounded-lg h-8 text-center justify-center ">Logout</button>
    </div>

    <ng-template #loggedOut>
      <button (click)="auth.login()" class="mt-1 ml-3 mr-3 font-bold bg-black rounded-lg h-8 text-center justify-center ">Login</button>
    </ng-template>
    </div>

</div>
