<section class="features py-24 px-6 min-h-screen">
  <div class="container mx-auto text-center px-4">
    <h2 class="text-3xl font-extrabold text-primary mb-12 animate__animated animate__fadeIn">
      Découvrez les fonctionnalités de SmartRoute
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Feature 1 -->
      <div class="feature shadow-lg rounded-lg p-6 hover:scale-105 transition-all duration-300 animate__animated animate__fadeInUp w-full max-w-sm mx-auto"
           style="background-color: rgba(255,255,255,0.9);">
        <div class="mb-4">
          <img src="/assets/functionalities/time.png" alt="Icone Temps" class="mx-auto h-16 w-16">
        </div>
        <h3 class="text-xl font-semibold text-primary mb-4">Optimisation du Temps</h3>
        <p class="text-lg text-gray-600 mb-4">Planifiez vos trajets pour économiser du temps, en prenant en compte les conditions de trafic en temps réel.</p>
        <a href="/features/time" class="text-primary hover:underline">En savoir plus</a>
      </div>

      <!-- Feature 2 -->
      <div class="feature shadow-lg rounded-lg p-6 hover:scale-105 transition-all duration-300 animate__animated animate__fadeInUp w-full max-w-sm mx-auto"
           style="background-color: rgba(255,255,255,0.9);">
        <div class="mb-4">
          <img src="/assets/functionalities/distance.png" alt="Icone Distance" class="mx-auto h-16 w-16">
        </div>
        <h3 class="text-xl font-semibold text-primary mb-4">Réduction de la Distance</h3>
        <p class="text-lg text-gray-600 mb-4">Optimisez vos trajets pour parcourir la distance la plus courte possible tout en évitant les embouteillages.</p>
        <a href="/features/distance" class="text-primary hover:underline">En savoir plus</a>
      </div>

      <!-- Feature 3 -->
      <div class="feature shadow-lg rounded-lg p-6 hover:scale-105 transition-all duration-300 animate__animated animate__fadeInUp w-full max-w-sm mx-auto"
           style="background-color: rgba(255,255,255,0.9);">
        <div class="mb-4">
          <img src="/assets/functionalities/analyse.png" alt="Icone Trafic" class="mx-auto h-16 w-16">
        </div>
        <h3 class="text-xl font-semibold text-primary mb-4">Analyse du Trafic</h3>
        <p class="text-lg text-gray-600 mb-4">Obtenez des prévisions de trafic et ajustez vos trajets en fonction des conditions routières actuelles.</p>
        <a href="/features/traffic" class="text-primary hover:underline">En savoir plus</a>
      </div>
    </div>
  </div>
</section>
