<div class="border-4 border-black flex items-center justify-center h-2/4"
     style="background-image: url('/assets/map_marrakech.png'); background-size: cover; background-position: center; height: 400px;">
  <div id="buttongholder" class="h-15 w-2/12 border-4  rounded-lg  border-gray-900 hover:bg-black  flex items-center justify-center">
    <button (click)="gotomap()" class="text-black text-xl hover:text-white font-bold hover:scale-105">Get access to our map</button>
  </div>
</div>

<div id="explanations" class="bg-white flex flex-col justify-center items-center p-5 gap-10">
  <div class="flex justify-center items-center p-5">
    <div class="mt-5 hover:scale-105"
         style="background-image: url('/assets/side-image1.png'); background-size: cover; background-position: center; width: 400px; height: 270px; border-radius: 10px;">
    </div>
    <div class="ml-20 max-w-2xl">
      <div class="text-black font-bold text-2xl mb-2">Directions</div>
      <h3 class="text-black text-lg">
        The openrouteservice directions service covers the globe and allows you to compute routes and all sorts of navigation information. To this end, we offer a wide range of travelling options for multiple modes of transport. Amongst these you can choose between car, different bicycle types, walking, hiking, wheelchair, and heavy vehicle. Each of these modes uses a carefully compiled street network to suit the profile's requirements. To help you individualize your routes even further, the API offers the possibility to customize your input with road type restrictions and vehicle characteristics.
      </h3>
    </div>
  </div>
  <div class="mr-3 flex justify-center items-center ">
    <div class="mt-1 hover:scale-105"
         style="background-image: url('/assets/side-image2.png'); background-size: cover; background-position: center; width: 70px; height: 70px; border-radius: 10px;">
    </div>
    <div class="ml-2 max-w-2xl">
      <div class="text-black font-semibold text-xl mb-2">Long distance routes</div>
      <h3 class="text-black text-lg">
        With SmartRoute you are able to determine routes for car and heavy vehicle with distances within Marrakech with any kind of options added.
      </h3>
    </div>
    <div class="mt-1 hover:scale-105"
         style="background-image: url('/assets/side-image3.png'); background-size: cover; background-position: center; width: 70px; height: 70px; border-radius: 10px;">
    </div>
    <div class="ml-2 max-w-2xl">
      <div class="text-black font-semibold text-xl mb-2">Can used by professionals</div>
      <h3 class="text-black text-lg w-2/3">
        SmartRoute’s heavy vehicle routing option allows the planning of delivery for equipment and resources to disaster stricken areas, whilst taking into account restrictions based on vehicle properties.
      </h3>
    </div>
  </div>
  <hr>
  <div class="mr-3 flex justify-center items-center ">
    <div class="mt-1 hover:scale-105"
         style="background-image: url('/assets/side-image4.png'); background-size: cover; background-position: center; width: 70px; height: 70px; border-radius: 10px;">
    </div>
    <div class="ml-2 max-w-2xl">
      <div class="text-black font-semibold text-xl mb-2">Long distance routes</div>
      <h3 class="text-black text-lg">
        With SmartRoute you are able to determine routes for car and heavy vehicle with distances within Marrakech with any kind of options added.
      </h3>
    </div>
    <div class="mt-1 hover:scale-105"
         style="background-image: url('/assets/side-image5.png'); background-size: cover; background-position: center; width: 70px; height: 100px; border-radius: 10px;">
    </div>
    <div class="ml-2 max-w-2xl">
      <div class="text-black font-semibold text-xl mb-2">Can used by professionals</div>
      <h3 class="text-black text-lg w-2/3">
        SmartRoute’s heavy vehicle routing option allows plannin for equipment and resources to disaster stricken areas, whilst taking into account restrictions based on vehicle properties.
      </h3>
    </div>
  </div>
</div>
